<!DOCTYPE html>
<html>
<head>
  <title>EpicEditor for Rails</title>
  <%= stylesheet_link_tag    "epic_editor/application", media: "all" %>
  <%= javascript_include_tag "epic_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
