<% if @collaborator.valid? %>
  $("#userid-<%=@collaborator.user_id%>").html('<%= link_to "Remove Collaborator", collaborator_path(@collaborator), method: :delete, id: "userid-#{@collaborator.user_id}", remote: true %>');
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>
