%h1 Wikis
.row
  .col-md-8
    - if @wikis.any?
      - @wikis.each do |wiki|
        %div
          %h4= link_to wiki.title, wiki
          %small
            submitted #{time_ago_in_words(wiki.created_at)} ago by #{wiki.user.email}
    - else
      %h4 There are no wikis yet!
      %br/
      %p You should totally create one.
  .col-md-4
    = button_to "Create Wiki", new_wiki_path, class:"btn btn-success", method: :get
